.carrousel-carrousel {
  flex: 0 0 auto;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  min-height: 50vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.carrousel-title {
  color: var(--dl-color-gray-white);
  margin: var(--dl-space-space-oneandhalfunits);
}
.carrousel-images {
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.carrousel-go-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.carrousel-icon {
  fill: var(--dl-color-primary-700);
  width: var(--dl-size-size-small);
}
.carrousel-slider {
  flex: 1;
  width: 824px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.carrousel-slides-container {
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 100%;
  align-self: stretch;
  align-items: center;
  border-radius: 16px;
  flex-direction: row;
  justify-content: center;
}
.carrousel-left {
  object-fit: cover;
  object-position: center;
}
.carrousel-left1 {
  object-fit: cover;
  object-position: center;
}
.carrousel-mid {
  object-fit: cover;
  object-position: center;
}
.carrousel-right {
  object-fit: cover;
  object-position: center;
}
.carrousel-right1 {
  object-fit: cover;
  object-position: center;
}
.carrousel-go-right {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.carrousel-icon2 {
  fill: var(--dl-color-primary-700);
  width: var(--dl-size-size-small);
}
