<div>
  <link href="./navbar.css" rel="stylesheet" />
  <nav class="Navbar navbar-fixed">
    <img
      alt="logo"
      src="../public/playground_assets/nav_logo.svg"
      class="navbar-image"
    />
    <div class="navbar-container">
      <nav class="navbar-nav-elements-desktop">
        <a href="/" class="navbar-navlink">
          <div class="nav_element-container">
            <span class="nav_element-text navelement"><span>Home</span></span>
          </div>
        </a>
        <a href="/" class="navbar-navlink1">
          <div class="nav_element-container">
            <span class="nav_element-text navelement">
              <span>Features</span>
            </span>
          </div>
        </a>
        <a href="/team.html" class="navbar-navlink2">
          <div class="nav_element-container">
            <span class="nav_element-text navelement"><span>Team</span></span>
          </div>
        </a>
        <a
          href="https://bliss-family-store.creator-spring.com/"
          target="_blank"
          rel="noreferrer noopener"
          class="navbar-link"
        >
          <div class="nav_element-container">
            <span class="nav_element-text navelement"><span>Gear</span></span>
          </div>
        </a>
        <a
          href="https://docs.blissroms.org/"
          target="_blank"
          rel="noreferrer noopener"
          class="navbar-link1"
        >
          <div class="nav_element-container">
            <span class="nav_element-text navelement"><span>Docs</span></span>
          </div>
        </a>
      </nav>
    </div>
    <a href="#downloads">
      <div class="navbar-btn-group">
        <div class="button-container rootClassName4">
          <span class="button-text body-16"><span>Download</span></span>
        </div>
      </div>
    </a>
    <div class="navbar-burger-menu teleport-menu-burger">
      <svg viewBox="0 0 1024 1024" class="navbar-icon">
        <path
          d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
        ></path>
      </svg>
    </div>
    <nav class="navbar-nav-elements-mobile teleport-menu-mobile">
      <a href="/" class="navbar-navlink3 h4-28 mb-12 navelement">
        <span>Home</span>
      </a>
      <a href="#features" class="navbar-link3 h4-28 mb-12 navelement">
        <span>Features</span>
      </a>
      <a href="/team.html" class="navbar-navlink4 h4-28 mb-12 navelement">
        <span>Team</span>
      </a>
      <span class="navbar-text h4-28 mb-12 navelement"><span>Gear</span></span>
      <span class="navbar-text1 mb-12 navelement h4-28"><span>Blog</span></span>
      <a href="#downloads">
        <div class="navbar-btn-group1">
          <div class="button-container rootClassName4">
            <span class="button-text body-16"><span>Download</span></span>
          </div>
        </div>
      </a>
      <div class="navbar-container1 teleport-menu-close">
        <svg viewBox="0 0 804.5714285714286 1024" class="navbar-icon2">
          <path
            d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
          ></path>
        </svg>
      </div>
    </nav>
  </nav>
</div>
