.nav_element-container {
  display: flex;
  position: relative;
}
.nav_element-text {
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: 72px;
}


.button-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.button-text {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-300);
}
.button-text:hover {
  color: var(--dl-color-primary-300);
  background-color: var(--dl-color-gray-white);
}











.navbar_team-image {
  width: 60px;
  height: 60px;
}
.navbar_team-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navbar_team-nav-elements-desktop {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  flex-direction: row;
}
.navbar_team-navlink {
  display: contents;
}
.navbar_team-component {
  text-decoration: none;
}
.navbar_team-navlink1 {
  display: contents;
}
.navbar_team-component1 {
  text-decoration: none;
}
.navbar_team-link {
  display: contents;
}
.navbar_team-component2 {
  text-decoration: none;
}
.navbar_team-link1 {
  display: contents;
}
.navbar_team-component3 {
  text-decoration: none;
}
.navbar_team-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}
.navbar_team-component4 {
  text-decoration: none;
}
.navbar_team-burger-menu {
  display: none;
}
.navbar_team-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
  transition: 0.3s;
}

.navbar_team-nav-elements-mobile {
  flex: 0 0 auto;
  display: none;
  position: absolute;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  flex-direction: column;
}
.navbar_team-navlink2 {
  font-style: normal;
  transition: 0.3s;
}

.navbar_team-navlink2:active {
  color: var(--dl-color-primary-300);
}
.navbar_team-link3 {
  font-style: normal;
  transition: 0.3s;
}

.navbar_team-link3:active {
  color: var(--dl-color-primary-300);
}
.navbar_team-navlink3 {
  font-style: normal;
  transition: 0.3s;
  text-decoration: none;
}

.navbar_team-navlink3:active {
  color: var(--dl-color-primary-300);
}
.navbar_team-text {
  font-style: normal;
  transition: 0.3s;
}

.navbar_team-text:active {
  color: var(--dl-color-primary-300);
}
.navbar_team-text1 {
  font-style: normal;
  transition: 0.3s;
}

.navbar_team-text1:active {
  color: var(--dl-color-primary-300);
}
.navbar_team-btn-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}
.navbar_team-component5 {
  text-decoration: none;
}
.navbar_team-container1 {
  top: 32px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.navbar_team-icon2 {
  width: 24px;
  height: 24px;
}

@media(max-width: 991px) {
  .navbar_team-nav-elements-desktop {
    display: none;
  }
  .navbar_team-btn-group {
    display: none;
  }
  .navbar_team-burger-menu {
    display: flex;
  }
  .navbar_team-icon {
    fill: #D9D9D9;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    display: flex;
  }
  .navbar_team-nav-elements-mobile {
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: flex-start;
    margin-left: 0px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    background-color: var(--dl-color-gray-black);
  }
  .navbar_team-btn-group1 {
    display: none;
  }
  .navbar_team-container1 {
    right: 32px;
  }
}
@media(max-width: 767px) {
  .navbar_team-icon {
    fill: var(--dl-color-gray-900);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 479px) {
  .navbar_team-image {
    width: auto;
    height: auto;
  }
  .navbar_team-burger-menu {
    display: flex;
  }
  .navbar_team-icon {
    fill: var(--dl-color-gray-900);
    width: 32px;
    height: 32px;
  }
  .navbar_team-nav-elements-mobile {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
  }
  .navbar_team-navlink2 {
    color: var(--dl-color-primary-100);
    margin-top: var(--dl-space-space-unit);
    text-align: left;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar_team-link3 {
    color: var(--dl-color-primary-100);
    margin-top: var(--dl-space-space-unit);
    text-align: left;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar_team-navlink3 {
    color: var(--dl-color-primary-100);
    margin-top: var(--dl-space-space-unit);
    text-align: left;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar_team-text {
    color: var(--dl-color-primary-100);
    margin-top: var(--dl-space-space-unit);
    text-align: left;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar_team-text1 {
    color: var(--dl-color-primary-100);
    margin-top: var(--dl-space-space-unit);
    text-align: left;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar_team-btn-group1 {
    display: flex;
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .navbar_team-icon2 {
    fill: var(--dl-color-primary-100);
  }
}
